node_modules/
*.tsbuildinfo
.eslintcache
.env
.venv
*.log
dist/
.vscode/
.scratch
.localstack
coverage
.DS_Store
lerna-debug.log
**/.DS_Store
**/.DS_Store
.keys
.blobs
__pycache__
scripts/mock-uptane/db/
scripts/mock-uptane/primary-fs/
